# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [83]:
import mysql.connector 
db= mysql.connector.connect(
    host= 'localhost',
    user= 'root',
    password= '7899',
    database= 'final_work_peer'
)
cursor= db.cursor()

sql="SELECT COUNT(CASE_NUMBER) FROM csvjson"
cursor.execute(sql)
result= cursor.fetchall()
result

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [16]:
cursor= db.cursor()
sql= "SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData WHERE PER_CAPITA_INCOME < 11000"
cursor.execute(sql)
result= cursor.fetchall()

for riga in result:
    print(riga)

('West Garfield Park',)
('South Lawndale',)
('Fuller Park',)
('Riverdale',)

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [17]:
cursor= db.cursor()
sql= "SELECT COUNT(DESCRIPTION) AS COUNT_MINOR_INVOLVED FROM csvjson WHERE DESCRIPTION LIKE '%MINOR%'"
cursor.execute(sql)
result= cursor.fetchall()
result

[(2,)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [18]:
cursor= db.cursor()
sql= "SELECT PRIMARY_TYPE, DESCRIPTION FROM csvjson WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';"
cursor.execute(sql)
result= cursor.fetchall()
result

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [86]:
cursor= db.cursor()
sql= "SELECT PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION FROM csvjson C\
    WHERE LOCATION_DESCRIPTION = 'SCHOOL, PUBLIC, BUILDING'"
cursor.execute(sql)
result= cursor.fetchall()

for riga in result:
    print(riga)

('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING')
('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING')
('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING')
('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING')
('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')

### Problem 6

##### List the average safety score for each type of school.

In [64]:
sql= " SELECT `Elementary, Middle, or High School`, AVG(SAFETY_SCORE) FROM ChicagoPublicSchools \
    group by `Elementary, Middle, or High School`;"
cursor.execute(sql)
result= cursor.fetchall()
result

[('ES', Decimal('46.6885')),
 ('HS', Decimal('61.0000')),
 ('MS', Decimal('52.0000'))]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [63]:
sql= "SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY  FROM ChicagoCensusData \
    ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5"
cursor.execute(sql)
result= cursor.fetchall()
result

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [78]:

sql= "SELECT COMMUNITY_AREA_NUMBER, count(CASE_NUMBER) as Num_of_cases FROM csvjson \
    GROUP BY community_area_number ORDER BY Num_of_cases DESC "
cursor.execute(sql)
result= cursor.fetchone()
result

('25', 43)

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [66]:
sql= "SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData \
    WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM ChicagoCensusData)"
cursor.execute(sql)
result= cursor.fetchall()
result

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [82]:
sql= "select ChicagoCensusData.COMMUNITY_AREA_NUMBER, COUNT(CASE_NUMBER) as Num_of_case,\
     ChicagoCensusData.COMMUNITY_AREA_NAME AS Num_of_cases FROM csvjson, ChicagoCensusData \
        WHERE csvjson.COMMUNITY_AREA_NUMBER = ChicagoCensusData.COMMUNITY_AREA_NUMBER GROUP BY \
            ChicagoCensusData.community_area_number ORDER BY Num_of_case DESC limit 1"
cursor.execute(sql)
result= cursor.fetchall()
result

[(25, 43, 'Austin')]

In [14]:
cursor.close()

True

## Exercise 1: Join Clauses

### Question 1

Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [2]:
import mysql.connector 
db= mysql.connector.connect(
    host= 'localhost',
    user= 'root',
    password= '7899',
    database= 'final_work_peer'
)
cursor= db.cursor()

In [6]:
sql="SELECT PS.NAME_OF_SCHOOL, PS.COMMUNITY_AREA_NAME, PS.AVERAGE_STUDENT_ATTENDANCE, CD.HARDSHIP_INDEX \
    FROM chicago_public_schools PS \
        INNER JOIN ChicagoCensusData CD ON PS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER \
            WHERE CD.HARDSHIP_INDEX = 98;"
cursor.execute(sql)
result= cursor.fetchall()
result

[('George Washington Carver Military Academy High School',
  'RIVERDALE',
  '91.60%',
  98),
 ('George Washington Carver Primary School', 'RIVERDALE', '90.90%', 98),
 ('Ira F Aldridge Elementary School', 'RIVERDALE', '92.90%', 98),
 ('William E B Dubois Elementary School', 'RIVERDALE', '93.30%', 98)]

## Question 2

Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [8]:
sql="SELECT C.CASE_NUMBER, C.PRIMARY_TYPE, PS.COMMUNITY_AREA_NAME, C.LOCATION_DESCRIPTION \
    FROM csvjson C \
        INNER JOIN chicago_public_schools PS ON C.COMMUNITY_AREA_NUMBER = PS.COMMUNITY_AREA_NUMBER\
            WHERE C.LOCATION_DESCRIPTION LIKE '%SCHOOL%';"
cursor.execute(sql)
result= cursor.fetchall()

for x in result:
    print(x)

('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL725506', 'BATTERY', 'LINCOLN SQUARE', 'SCHOOL, PUBLIC, BUILDING')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HK577020', 'NARCOTICS', 'ROGERS PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HL725506', 'BATTERY', 'LINCOLN SQUARE', 'SCHOOL, PUBLIC, BUILDING')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HK577020', 'NARCOTICS', 'ROGERS PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HK577020', 'NARCOTICS', 'ROGERS PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL725506', 'BATTERY', 'LINCOLN SQUARE', 'SCHOOL, PUBLIC, BUILDING')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('HK577020', 'NARCOTICS', 'ROGERS PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HL725506', 'BATTERY', 'LINCOLN SQUARE', 'SCHOOL, PUBLIC, BUILDING')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HK577020', 'NARCOTICS', 'ROGERS PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HL353697', 'BATTERY', 'SOUTH SHORE', 'SCHOOL, PUBLIC, GROUNDS')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HK577020', 'NARCOTICS', 'ROGERS PARK', 'SCHOOL, PUBLIC, GROUNDS')
('HL725506', 'BATTERY', 'LINCOLN SQUARE', 'SCHOOL, PUBLIC, BUILDING')
('HS305355', 'NARCOTICS', 'BRIGHTON PARK', 'SCHOOL, PUBLIC, BUILDING')
('HH639427', 'BATTERY', 'AUSTIN', 'SCHOOL, PUBLIC, BUILDING')
('HS200939', 'CRIMINAL DAMAGE', 'AUSTIN', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HT315369', 'ASSAULT', 'EAST GARFIELD PARK', 'SCHOOL, PUBLIC, GROUNDS')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('JA460432', 'BATTERY', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HR585012', 'CRIMINAL TRESPASS', 'ASHBURN', 'SCHOOL, PUBLIC, GROUNDS')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')
('HP716225', 'BATTERY', 'DOUGLAS', 'SCHOOL, PUBLIC, BUILDING')

## Exercise 2: Creating a View

### Question 1

Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

In [ ]:
sql = "CREATE VIEW View_Public_Schools1 AS\
    SELECT NAME_OF_SCHOOL AS School_Name, Safety_Icon AS Safety_Rating, Family_Involvement_Icon AS Family_Rating, \
        Environment_Icon AS Environment_Rating, Instruction_Icon AS Instruction_Rating, \
            Leaders_Icon AS Leaders_Rating, Teachers_Icon AS Teachers_Rating\
                FROM ChicagoPublicSchools;"

cursor.execute(sql)

for x in cursor:
    print(x)

In [25]:
sql = "SELECT * FROM View_Public_Schools1"

cursor.execute(sql)
result= cursor.fetchall()
for x in result:
    print(x)

('Abraham Lincoln Elementary School', 'Very Strong', 'Very Strong', 'Strong', 'Strong', 'Weak', 'Strong')
('Adam Clayton Powell Paideia Community Academy Elementary School', 'Average', 'Strong', 'Strong', 'Very Strong', 'Weak', 'Strong')
('Adlai E Stevenson Elementary School', 'Strong', '', 'Average', 'Weak', 'Weak', '')
('Agustin Lara Elementary Academy', 'Average', 'Average', 'Average', 'Weak', 'Weak', 'Average')
('Air Force Academy High School', 'Average', 'Strong', 'Strong', 'Average', 'Weak', 'Average')
('Albany Park Multicultural Academy', 'Strong', 'Weak', 'Strong', 'Strong', 'Weak', 'Average')
('Alcott High School for the Humanities', 'Strong', '', 'Strong', 'Average', 'Weak', '')
('Alessandro Volta Elementary School', 'Average', 'Strong', 'Weak', 'Weak', 'Weak', 'Average')
('Alexander Graham Elementary School', 'Average', 'Weak', 'Weak', 'Weak', 'Weak', 'Average')
('Alexander Hamilton Elementary School', 'Strong', 'Strong', 'Strong', 'Average', 'Weak', 'Average')
('Alexander von Humboldt Elementary School', 'Weak', '', 'Weak', 'Average', 'Weak', '')
('Alex Haley Elementary Academy', 'Weak', '', 'Average', 'Strong', 'Weak', '')
('Alfred David Kohn Elementary School', 'Very Weak', 'Weak', 'Weak', 'Very Weak', 'Weak', 'Very Weak')
('Alfred Nobel Elementary School', 'Weak', 'Weak', 'Weak', 'Weak', 'Weak', 'Weak')
('Alice L Barnard Computer Math & Science Center Elementary School', 'Average', '', 'Weak', 'Average', 'Weak', '')
('Ambrose Plamondon Elementary School', 'Average', '', 'Weak', 'Weak', 'Weak', '')
('Ames Middle School', 'Weak', 'Very Weak', 'Weak', 'Weak', 'Weak', 'Weak')
('Amos Alonzo Stagg Elementary School', 'Weak', 'Weak', 'Weak', 'Average', 'Weak', 'Average')
('Ana Roque de Duprey Elementary School', 'Average', '', 'Very Weak', 'Very Weak', 'Weak', '')
('Andrew Carnegie Elementary School', 'Average', 'Average', 'Weak', 'Strong', 'Weak', 'Weak')
('Anna R. Langford Community Academy', 'Weak', 'Weak', 'Average', 'Weak', 'Weak', 'Average')
('Annie Keller Elementary Gifted Magnet School', 'Very Strong', 'Very Strong', 'Very Strong', 'Very Strong', 'Weak', 'Very Strong')
('Anthony Overton Elementary School', 'Weak', '', 'Strong', 'Strong', 'Weak', '')
('Arna Wendell Bontemps Elementary School', 'Weak', '', 'Average', 'Average', 'Weak', '')
('Arnold Mireles Elementary Academy', 'Weak', '', 'Average', 'Average', 'Weak', '')
('Arthur A Libby Elementary School', 'Weak', '', 'Strong', 'Strong', 'Weak', '')
('Arthur E Canty Elementary School', 'Very Strong', 'Strong', 'Strong', 'Strong', 'Weak', 'Average')
('Asa Philip Randolph Elementary School', 'Very Weak', '', 'Average', 'Average', 'Weak', '')
('Ashburn Community Elementary School', 'Average', 'Strong', 'Average', 'Average', 'Weak', 'Strong')
('Augustus H Burley Elementary School', 'Very Strong', '', 'Strong', 'Strong', 'Weak', '')
('Austin O Sexton Elementary School', 'Weak', '', 'Weak', 'Weak', 'Weak', '')
('Avalon Park Elementary School', 'Weak', 'Weak', 'Weak', 'Weak', 'Weak', 'Very Weak')
('Belmont-Cragin Elementary School', 'Strong', 'Very Strong', 'Strong', 'Strong', 'Weak', 'Average')
('Betsy Ross Elementary School', 'Weak', '', 'Average', 'Average', 'Weak', '')
('Beulah Shoesmith Elementary School', 'Average', 'Average', 'Average', 'Weak', 'Weak', 'Average')
('Bret Harte Elementary School', 'Strong', '', 'Strong', 'Strong', 'Weak', '')
('Bronzeville Scholastic Academy High School', 'Average', 'Weak', 'Average', 'Average', 'Weak', 'Very Weak')
('Burnham Elementary Inclusive Academy', 'Strong', 'Strong', 'Very Strong', 'Very Strong', 'Weak', 'Strong')
('Burnside Elementary Scholastic Academy', 'Average', '', 'Average', 'Strong', 'Weak', '')
('Calmeca Academy of Fine Arts and Dual Language', 'Average', 'Strong', 'Average', 'Strong', 'Weak', 'Average')
('Carl von Linne Elementary School', 'Strong', 'Average', 'Strong', 'Strong', 'Weak', 'Average')
('Carrie Jacobs Bond Elementary School', 'Average', 'Average', 'Strong', 'Strong', 'Weak', 'Weak')
('Carroll-Rosenwald Specialty Elementary School', 'Weak', '', 'Very Weak', 'Very Weak', 'Weak', '')
('Carter G Woodson South Elementary School', 'Weak', 'Weak', 'Very Weak', 'Very Weak', 'Weak', 'Average')
('Cesar E Chavez Multicultural Academic Center Elementary School', 'Average', 'Average', 'Strong', 'Average', 'Weak', 'Average')
('Charles Allen Prosser Career Academy High School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Average')
('Charles Gates Dawes Elementary School', 'Average', 'Weak', 'Weak', 'Weak', 'Weak', 'Average')
('Charles G Hammond Elementary School', 'Average', '', 'Average', 'Average', 'Weak', '')
('Charles H Wacker Elementary School', 'Weak', '', 'Weak', 'Weak', 'Weak', '')
('Charles Kozminski Elementary Community Academy', 'Weak', '', 'Weak', 'Average', 'Weak', '')
('Charles N Holden Elementary School', 'Average', 'Average', 'Average', 'Weak', 'Weak', 'Average')
('Charles P Caldwell Academy of Math & Science Elementary School', 'Weak', 'Weak', 'Average', 'Average', 'Weak', 'Weak')
('Charles R Darwin Elementary School', 'Average', 'Average', 'Average', 'Weak', 'Weak', 'Average')
('Charles R Henderson Elementary School', 'Very Weak', '', 'Weak', 'Weak', 'Weak', '')
('Charles S Brownell Elementary School', 'Weak', 'Very Weak', 'Strong', 'Very Strong', 'Weak', 'Very Weak')
('Charles Sumner  Math & Science Community Acad Elementary School', 'Average', 'Weak', 'Average', 'Average', 'Weak', 'Weak')
('Charles W Earle Elementary School', 'Weak', '', 'Strong', 'Strong', 'Weak', '')
('Chicago Academy Elementary School', 'Strong', '', 'Average', 'Weak', 'Weak', '')
('Chicago High School for Agricultural Sciences', 'Very Strong', 'Strong', 'Average', 'Average', 'Weak', 'Average')
('Christian Ebinger Elementary School', 'Strong', 'Strong', 'Strong', 'Average', 'Weak', 'Strong')
('Christopher Columbus Elementary School', 'Strong', '', 'Average', 'Average', 'Weak', '')
('Clara Barton Elementary School', 'Weak', 'Average', 'Weak', 'Weak', 'Weak', 'Average')
('Claremont Academy Elementary School', 'Weak', 'Weak', 'Average', 'Average', 'Weak', 'Average')
('Collins Academy High School', 'Strong', 'Average', 'Average', 'Average', 'Weak', 'Average')
('Columbia Explorers Elementary Academy', 'Average', 'Strong', 'Average', 'Strong', 'Weak', 'Strong')
('Crown Community Academy of Fine Arts Center Elementary School', 'Weak', 'Weak', 'Average', 'Average', 'Weak', 'Weak')
('Daniel Boone Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Average')
('Daniel R Cameron Elementary School', 'Average', '', 'Average', 'Average', 'Weak', '')
('Daniel Webster Elementary School', 'Average', 'Average', 'Very Strong', 'Strong', 'Weak', 'Average')

## Exercise 3: Creating a Stored Procedure

### Question 1
Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

In [ ]:
#### Store procedure:

DELIMITER @

CREATE procedure UPDATE_LEADERS_SCORE (
IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)

UPDATE ChicagoPublicSchools
SET Leaders_Score = in_Leader_Score
WHERE School_ID = in_School_ID;
END @

DELIMITER ;

In [ ]:
cursor.close()
db.close()